version: '3.8'
name: smartsteps
services:
  db:
    image: postgres:17-alpine
    container_name: shoe_selling_db
    restart: always

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - ./pgdata:/var/lib/postgresql/data

